/* ctrl + shift + r to reset cache to reload css */

:root {
  --text: #FFE0F0;
  --background: #110023;
  --sidebars: #D569B0;
  --border: #EFD0E0;
  --blog: #D569B0;
  --blog_text: #110023;
  --blog_post: #FFE0F0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  font-family: Helvetica;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top_stack {
  display: flex;
  justify-content: center;
}

.center_bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.title_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: auto;
}

.title {
  font-size: 32px;
}

.description {
  font-size: 14px;
}

.title_section {
  padding-bottom: 16px;
}

.blog_container {
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.blog_title, .blog_counter {
  padding: 8px;
}

.blog_title {
  font-size: 24px;
}

.blog {
  overflow-y: scroll;
  max-height: 540px;
  background: var(--blog);
  border: solid;
  border-radius: 16px;
  border-color: var(--border);
  color: var(--blog_text);
}

.blog_post {
  padding: 8px;
  margin: 16px;
  background: var(--blog_post);
  border: none;
  border-radius: 16px;
}

.blog_post_date {
  padding-bottom: 16px;
}

.blog_post_paragraph {
  padding-bottom: 8px;
}

.left_bar, .right_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  min-width: 96px;
  border: solid;
  border-radius: 8px;
  border-color: var(--border);
  background: var(--sidebars);
  height: fit-content;
}

.link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo {
  width: 64px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: transform 0.2s ease;
}

.logo:hover {
  transform: scale(1.2) rotate(8deg);
}

.bottom_stack {
  margin-top: auto;
  display: flex;
  justify-content: center;
}
